_Store
.powenv
.powenv
.powrc
.redcar
.sass-cache/
.Sync*
.tags
.vscode/
*.swo
*.swp
*/.redcar
app/assets/images/custom_images/*
app/assets/stylesheets/custom_development.css.scss
config/avalara.yml
config/database.yml
config/geocoder.yml
config/gmap_coordinates_picker.yml
config/initializers/github.rb
coverage
db/*.sqlite3
doc/*
log/*.log
log/*.log.*
log/rspec/
public/assets/source_maps
public/system/**/*
solr/
spec/examples.txt
tmp/*
tmp/**/*
tmp/restart.txt
Vagrantfile
vendor/**
